<%-include('v_head',{title:'Home'})%>
<%-include('v_nav')%>
<link rel="stylesheet" href="assets/dist/css/home.css" >
<script src="/node_modules/jquery/dist/jquery.min.js" ></script>
  <body>
    <h3 class="mt-4 text-center">Home</h3>
    <center>
      <div class="card shadow-lg m-3 mt-4 p-3 d-flex flex-row">
        <div class="bg-success w-75">
          d
        </div>
        <div class="bg-danger w-25">
          g
        </div>
      </div></center>
  </body>
  <script src="node_modules/chart.js/dist/chart.js"></script>
  <script>
  </script>
<%-include('v_foot')%>