<nav class="navbar shadow-lg navbar-dark bg-primary">
    <h3 class="logo text-white mt-1">Cinemax Rental<br></h3>
    <div class="row mr-2">
      <div class="navbar-nav d-flex flex-row justify-content-between ">
        <a class="nav-link ml-4" href="#">Home</a>
        <a class="nav-link ml-4" href="#">Manage</a>
        <a class="nav-link ml-4" href="#">Report</a>
        <a class="nav-link ml-4" href="/dvd">DVD</a>
      </div>
      <button class="btn btn-outline-light my-2 my-sm-0 ml-4" data-toggle="modal" data-target="#logoutModal"><b>Logout</b></button>
    </div>
  </nav>