<nav class="navbar shadow-lg navbar-dark bg-primary w-100">
    <h3 class="logo text-white mt-1">Cinemax Rental<br></h3>
    <div class="row mr-2">
      <div class="navbar-nav d-flex flex-row justify-content-between ">
        <a class="nav-link ml-4" href="/home">Home</a>
        <a class="nav-link ml-4" href="/peminjaman">Peminjaman</a>
        <a class="nav-link ml-4" href="/keuangan">Keuangan</a>
        <a class="nav-link ml-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Master
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:absolute;left:85%">
          <a class="dropdown-item" href="/dvd">DVD</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin">Admin</a>
        </div>
      </div>
      <button class="btn btn-outline-light my-2 my-sm-0 ml-4" data-toggle="modal" data-target="#logoutModal"><b>Logout</b></button>
    </div>
  </nav>
   <!--Logout Modal -->
   <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirmation Dialog</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Apakah Anda yakin ingin keluar dari aplikasi ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <a href="/logout"><button type="button" class="btn btn-primary">Yes</button></a>
        </div>
      </div>
    </div>
  </div>